* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/geometric4.jpg");
}

/*.container {
  position: absolute;
}*/

p {
  text-align: center;
}

p::first-Letter {
  font-size: 200%;
  text-transform: capitalize;
  color: green;
}

h1 {
  /*position: absolute;*/
  font-size: 60pt;
  text-align: center;
  color: black;
  background-color: white;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 10px;
  border: solid 10px green;
}

h5 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

input {
  width: 200px;
}

li {
  color: white;
}

h3 {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 440px;
}

img {
  width: 175px;
  height: 150px;
  margin: 10px;
  border: 5px solid green;
  /*float: left;*/
}

a {
  position: relative;
  left: -20px;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

/*#nav li {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}*/

#mainPhoto {
  position: relative;
  width: 300px;
  height: 300px;
  border: 5px solid green;
}

#photoGallery {
  margin-right: auto;
  margin-left: auto;
}

#photoGallery img:hover {
  border: none;
  /*outline-offset: 10px;*/
}

.pedalName {
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 170px;
  /*margin-left: auto;
  margin-right: auto;*/
  color: black;
  background-color: #bdc2c5;
  width: 140px;
}

h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #008932;
}

#column1 {
  /*position: relative;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;*/
  float: left;
  width: 50%;
  text-align: center;
  clear: left;
}

#column2 {
  /*text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  float: right;
  margin-top: 60px;
  */
  float: right;
  width: 50%;
  font-size: 20px;
  clear: right;
  /*clear: both;*/
}

#nav li{
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}

li {
  margin-bottom: 10px;
}

#nav {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

p {
  max-width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
