* {
  box-sizing: border-box;
}

p {
  text-align: center;
}

p::first-Letter {
  font-size: 200%;
  text-transform: capitalize;
  color: green;
}

h1 {
  /*position: absolute;*/
  font-size: 60pt;
  text-align: center;
  color: black;
  background-color: white;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 10px;
  border: solid 10px green;
}

h5 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 70px;
}

input {
  width: 200px;
}

li {
  color: white;
}

h3 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 490px;
}

img {
  width: 175px;
  height: 150px;
  margin: 10px;
  border: 5px solid green;
  /*float: left;*/
}

a {
  position: relative;
  left: -20px;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

/*#nav li {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}*/


#photoGallery {
  /*margin-right: auto;
  margin-left: auto;*/
  text-align: center;
}

#photoGallery img:hover {
  border: none;
  /*outline-offset: 10px;*/
}

.advertisement img {
  width: 300px;
  height: 300px;
  border: 5px solid green;
}

/*.advertisement {
  position: relative;
}*/

/*h2 {
  top: 30px;
  left: 230px;
  margin: 0;
  padding: 0;
  color: #008932;
}*/

#column1 {
  float: left;
  width: 50%;
  text-align: center;
  clear: left;
  position: relative;
  display: inline-block;
}

#column1 .advertisement {
    text-align: center;
    width:100%;
    font-size: 25px;
    color: black;
    position: absolute;
    top: 5%;
}

img.resize {
  /*display: block;*/
  width: 300px;
  height: 250px;
}

#column2 {
  float: right;
  width: 50%;
  font-size: 20px;
  clear: right;
}

#column2 p {
margin-left: auto;
margin-right: auto;
width: 300px;
}

#nav li{
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}

li {
  margin-bottom: 10px;
}

#nav {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

p {
  max-width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
